<h2 style="background-color: rgb(51,51,52); color: white;padding:1.25rem 0 0 1.5rem; margin: 0;
text-align:center;">{{.Site.Title}}</h2>
<nav class="nav-container">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="nav-menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Site</a></li>
        <li><a href="#services">Why Me</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>