<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else }}
            {{ .Title }} - {{ .Site.Title }}
        {{ end }}
    </title>
    <!-- Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Async font loading -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap"
          media="print" onload="this.media='all'">
<!-- copied from verdonna's site -->
    <!-- Fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&display=swap">
    </noscript>
    {{ $css := resources.Get "css/styles.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
</head>