<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<div class="image-container">
    {{ range .Site.RegularPages }}
        {{ $page := . }}
        {{ with resources.Get .Params.imageHome }}
            {{ $processed := .Resize "400x webp 83q" }}
            <div class="image-box" style="background-image: url('{{ $processed.RelPermalink }}');">
                <div class="text-overlay-container">
                    {{ with $page.Params.poem }}
                        <span class="overlay-text">{{ $page.Params.poemTitle }}</span>
                        <span class="overlay-text poem">{{ range . }}
                            {{ . }}
                            <br>{{ end }}
                        </span>
                    {{ end }}
                    {{ if $page.Params.title }}
                        <span class="overlay-text">{{ $page.Params.title }}</span>
                        <a href="{{ $page.Params.link }}" class="read-more-button">
                            <button>Read More</button>
                        </a>
                    {{ end }}

            </div>
            </div>
        {{ end }}
    {{ end }}
</div>
</body>
</html>